<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
      <%= render 'shared/list_form' %>
  </aside>
  <div class="span8">
      <% if @user.lists.any? %>
        <h3>My Lists (<%= @user.lists.count %>)</h3>
        <ol class="lists">
          <%= render @lists %>
        </ol>
        <%= will_paginate @lists %>
        <%= link_to "Create A New List", lists_new_path %>
      <% else %>
        <h3><%= link_to "Create A New List", lists_new_path %></h3>
      <% end %>
</div>